:root {
  --special-yellowlight: #ffd180;
  --special-greenlight:  #8ED78F;
  --special-lightgray:   #A9A9A9;
  --basic-background:    #F1F5F7;
  --basic-graylight:     #C5C5C5;
  --special-yellow:      #FFBF47;
  --basic-darkblue:      #32425C;
  --special-lilac:       #DC91D8;
  --special-white:       #F9F5F0;
  --special-blue:        #3BBCE3;
  --basic-green:         #63A63E;
  --basic-grey:          #3D546F;
  --basic-red:           #EE3643;
  --success:             #5FBB2D;
  --warning:             #FFBF47;
  --white:               #FFFFFF;
  --black:               #000000;
  --error:               #BA2732;
  --border:              #EAEAEA;
  --special-red_hover:   #CA2C37;
  --special-red_active:  #BA2732;
  --special-background:  #293449;
}

.page {
  box-sizing: border-box;

  height: 100%;
}

/*GLOBAL*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;

  color: var(--basic-darkblue);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*GRID*/
.page-body {
  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: cecnter;
}
/*BUTTON*/

.button {
  display: inline-block;

  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  
  border: none;

  background-color: var(--basic-red);
  color: var(--white);

}

.user-button {
  background-color: var(--white);
  color: var(--black);
}
.user-button:hover {
  color: var(--basic-red);
}
.user-button:active {
  color: var(--basic-graylight);
}


.button:hover {
  background-color: var(--special-red_hover);
  border: none;
}
.button:active {
  background-color: var(--special-red_active);
  border: none;
}

/*HEADER*/
.main-header {
  background-color: var(--basic-background);

}
/*HEADER TOP*/

.header-top {
  display: grid;

  background-color: var(--special-background);
}

.header-top-wrapper  {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}


.product-order {
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.product-order-item a {
  font-size: 18px;
  line-height: 24px;

  color: var(--white);
}

/*HEADER MIDLE*/

.header-midle {
  display: grid;

}

.header-midle-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-midle-block  p{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: var(--basic-red);
}

.contact-for-us a {
  line-height: 30px;
  font-size: 21px;
  font-weight: 700;

  color: var(--basic-red);
}

.contact-for-us p {
  text-align: center;
}

.user-menu a{
  line-height: 21px;
  font-size: 21px;
  display: inline-block;


  text-align: center;
  align-items: center;
}

/*SITE NAVIGATION*/

.navigation-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation-list {
  list-style: none;
  width: 100%;
  display: flex;
}

.site-navigation-item {
  display: block;

  justify-content: space-between;
}

.site-navigation-item a{
  font-size: 18px;
  line-height: 24px;




  color: var(--white);
  background-color: var(--basic-darkblue);
}

/*CONTAINER*/

/*PRODUCT CATEGORIES*/
.product-categories {
  margin-top: 39px;
}
.categories-list {
  list-style: none;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.item-1 {
  background-color: var(--special-yellow);

  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-2 {
  background-color: var(--special-blue);

  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item-3 {
  background-color: var(--special-lilac);

  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item-4 {
  background-color: var(--special-greenlight);

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item-5 {
  background-color: var(--special-yellow);

  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.slider-item {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;

}


.categories-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.categories-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: var(--white);
}

/*CATEGORIES SLIDER*/

.categories-slider {
  list-style: none;
}

.slider-item h3 {
  font-size:36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-item p{
  font-size: 18px;
  line-height: 24px;
}

.slider-item a {
  text-align: center;
  font-size: 14px;
  line-height: 18px;

  color: var(--white);
}

/*POPULAR PRODUCT*/
.popular-product {
  margin-top: 39px;
  height: 450px;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.popular-product-block {
  width: 100%;
  height: 89px;

  background-color: var(--special-white);
  grid-row-start: 1;
  grid-row-end: 2;
}

.popular-product-block h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-darkblue);
}
.popular-product-block a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.popular-product-list {
  list-style: none;

  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.popular-product-item {
  border: 1px solid var(--border);
  margin: 0;
  padding: 0;

}

.popular-1 {
  grid-column: 1/2;
}
.popular-2 {
  grid-column: 2/3;
}

.popular-3 {
  grid-column: 3/4;
}

.popular-4 {
  grid-column: 4/5;
}


.popular-product-item p:nth-of-type(1) {
  font-style: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: var(--black);
}
.popular-product-item p:nth-of-type(2) {
  font-style: "PT Sans";
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  color: var(--special-lightgray);

  text-decoration: line-through;
}

.popular-product-item a {
  font-style: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  color: var(--white);
}


/*POPULAR MAKERS*/
.popular-makers {
  margin-top: 39px;

  display: grid;
  grid-template-rows: min-content 1fr;
}

.popular-makers-block {
  width: 100%;
  height: 89px;

  background-color: var(--special-white);
  grid-row: 1/2;
}

.popular-makers-block h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-darkblue);
}

.popular-makers-block a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.makers-list {
  list-style: none;

  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.makers-1 {
  grid-column: 1/2;
  grid-row: 1/2
}
.makers-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.makers-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.makers-4 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.makers-5 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.makers-6 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.makers-7 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.makers-8 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.makers-item {
  display: block;
  width: 220px;
  height: 145px;

  align-items: center;

  border: 1px solid var(--border);
}

makers-item img {
  margin: 50%;
}

/*SERVICES*/

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--black);
}

.services p {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 13px;

  color: var(--black);
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  font-style: "PT Sans", Arial, sans-serif;
}

/*INDEX COLUMNS*/

.index-columns {
  background-color: var(--white);
  width: 100%;
  margin-top: 53px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

/*COMPANY*/
.company {
  width: 480px;

  grid-column: 1/2;
  grid-row: 1;
}
.company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--black);
}

.company p {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.company a {
  font-size: 14px;
  line-height: 18px;
}

.delivery-list {
  list-style: none;
}

.delivery-item p {
  font-size: 18px;

  color: var(--black);
}

/*CONTACTS*/

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color:  var(--black);
}

.contacts p {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: var(--black);
}

.contacts a {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

/*PAGE FOOTER*/
.page-footer {
  background-color: var(--basic-darkblue);
  margin-top: 50px;
}

.page-footer .footer-under-block {
  background-color: #293449;
  color: var(--white);
}

.page-footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*MAIN FOOTER*/

/*FOOTER SITE NAVIGATION*/

.footer-site-navigation {
  grid-column: 1/3;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 60px;
}

.footer-navigation-list {
  list-style: none;

}

.footer-navigation-item a {
  font-size: 18px;
  line-height: 24px;

  color: var(--basic-background);

}

.footer-navigation-item a:hover {
  text-decoration: underline;
}


/*FOOTER MIDLE BLOCK*/
.footer-midle-block {
  grid-row: 2/3;
  grid-column: 1/3;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 60px;
}

.footer-midle-block p {
  font-size: 18px;
  line-height: 24px;

  color: var(--white);
}
.footer-midle-block p > a{
  color: var(--white);
}

.footer-catalog-navigation-list {
  list-style: none;
}

.footer-catalog-navigation-item a{
  font-size: 18px;
  line-height: 24px;

  color: var(--special-yellowlight);
}

.footer-catalog-navigation-item a:hover {
  text-decoration: underline;
}

/*FOOTER UNDER BLOCK*/
.footer-under-block {
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 240px 161px 300px;
  grid-gap: 100px;
}

.copyright {
  font-size: 16px;
  line-height: 18px;

  color: var(--white);
  grid-column: 1/2;

}

.socials {
  grid-column: 2/3;

  display: flex;
  justify-content: space-between;
}

.socials-list {
  list-style: none;
}

.development {
  font-size: 16px;
  line-height: 18px;

  grid-column: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.feedback {
  grid-column: 1/2;
}

.feedback a{
  font-size: 16px;
  line-height: 18px;

  color: var(--special-yellowlight);
}

.feedback a:hover {
   text-decoration: underline;
}

.feedback a:active {
  color: var(--basic-red);
}

.development-proj {
  grid-column: 2/3;
}

.development-proj p {
  font-size: 16px;
  line-height: 18px;
}

.development-proj a{
  font-size: 16px;
  line-height: 18px;

  color: var(--special-yellowlight);
}

.development-proj a:hover {
   text-decoration: underline;
}

.development-proj a:active {
  color: var(--basic-red);
}






























/*CATALOG*/
.breadcrumbs {
  list-style: none;
}

.products-list {
  list-style: none;
}

.page-title_catalog {
  width: 100%;

  background-color: var(--basic-background);

  padding-top: 29px;
  padding-left: 29px;
  padding-bottom: 30px;
}

.page-title_catalog h1 {
  line-height: 30px;
  font-size: 30px;
  font-weight: 400;

}

 .catalog_info {
  background-color: var(--basic-background);
}
